.container{
    margin: 0.2rem;
    border: 2px solid violet;
    margin-bottom: 20px;
}

h2{
    text-align: center;
    color: darkmagenta;
    font-size: medium;
}

h3{
    text-align: center;
    color: darkmagenta;
    font-size: small;
}

img{
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}